.download {
  padding-bottom: 50px;
  .header {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #25365D;
    margin-top: 150px;
    margin-bottom: 40px;
  }
  .text {
    font-size: 15px;
    text-align: center;
    color: #5A5A5A;
    margin-bottom: 100px;
  }
}
